
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Playball&family=Sacramento&display=swap');
body{
    
}
h1{
    font-weight: bolder;
}
.col-md-6{
    color: darkslategray;
}
div{
    font-weight: bolder;
    font-family: 'Playball', cursive;
    border-radius: 10px;
}