@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
div{
    font-family: 'Kaushan Script', cursive;
    padding: 10px;
    border-radius: 10px;
    color:white;
    background-color: black;
}