@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&family=Kaushan+Script&display=swap');
body{
    font-family: 'Crete Round', serif;
font-family: 'Kaushan Script', cursive;
    color: white;
}
div{
    color: black;
    background-color: rgb(238, 227, 227);
    border-radius: 10px;
}
.form-control{
    background-color: white;
}
.alert-danger{
    background-color: hotpink;
}